[user]
    name = Sam Willcocks
    email = sam@wlcx.cc
[core]
	editor = vim
    pager = "less -r"
[alias]
    log = log --show-signatures
    ci = commit
    cim = commit -m
    cia = commit --amend
    co = checkout
    st = status -bs
    d = diff
    dc = diff --cached
    a = add
    ap = add -p
    fp = fetch -p
[push]
    default = matching
[color]
    ui = auto
[include]
    path = ~/.gitconfig.local


# Useful when tunneling through ssh
#[http]
#    proxy = socks5://localhost:1234
#[https]
#    proxy = socks5://localhost:1234
