[user]
    name = Sam Willcocks
    email = sam@wlcx.cc
[core]
	editor = vim
    pager = "diffr | less -R"
[alias]
    a = add
    ap = add -p
    ci = commit
    cia = commit --amend
    cim = commit -m
    co = checkout
    d = diff
    dc = diff --cached
    fp = fetch -p
    log = log --show-signatures
    r = rebase --autostash
    ri = rebase -i --autostash
    st = status -bs
    gone = ! "git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D"
[push]
    default = current
[color]
    ui = auto
[include]
    path = ~/.gitconfig.local
[branch]
    sort = -committerdate
[interactive]
	diffFilter = diffr  # fails gracefully with an error

[init]
	defaultBranch = main
