[user]
    name = Sam Willcocks
    email = sam@wlcx.cc
[core]
	editor = vim
    pager = "less -r"
[alias]
    ci = commit
    cim = commit -m
    cia = commit --amend
    co = checkout
    st = status -bs
    d = diff
    dc = diff --cached
    a = add
    ap = add -p
    fp = fetch -p
[push]
    default = matching
[color]
    ui = auto
